{% extends 'articles/index.html' %}
{% load static %}

{% block feature_img %}
   <div>
       <img alt="featured image" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" role="img" src="{% static 'assets/images/portfolio/articles/every-christian-developers-should-do-this/featured_image.webp' %}">
   </div>
{% endblock feature_img %}

{% block post %}
    <div class="card-body">
        <p>
            This is a call to all Christian developers, wake up from your stupor! Christians were meant to be warriors,
            we are warriors on foreign land, beyond enemies lines! <b>(Ephesian 6: 11–17)</b>. So let us live like it. Don’t
            you know that the day you gave your life to Christ, was the day you revoked your citizenship in your
            country and of the earth? You became a citizen of heaven and of such you would be hated, despised, scorned
            and treated the same way or worse than how an illegal immigrant is treated
            <b>(John 17: 14–19; 15: 18–21).</b>
        </p>

        <p>
            We are warrior ambassadors sent forth by our Captain, Jesus the Lord of Hosts with duties to snatch,
            liberate, defend souls and bring down the strongholds of the enemies <b>(Ephesian 6: 19–20)</b>. We
            are no longer in the Last Days, we are in the Last Day and we are warriors of the Last day Church,
            with a cloud of witnesses beholding us (Hebrews 12: 1–2), so let us give it our all.
        </p>

        <p>
            The Bible says “My people are destroyed for lack of knowledge” — (Hosea 4: 6) and because we lack
            knowledge, we, therefore, are ignorant of the devices of the Devil which is contrary to God’s Words!
            <b>(2 Corinthians 2: 11)</b>. This is why God say we should arm ourselves with the Word of God, and with
            the Word of God comes Wisdom <b>(Ps 119: 98)</b>, Knowledge <b>(Isaiah 28: 23–29)</b> and Understanding
            <b>(Job 32: 7– 9)</b> with which we shall parry every deceitful works of the Devil and bring the truth to
            his captives for the Word of God is Truth <b>(John 17: 17)</b>.
        </p>

        <p>
            Don’t you know that just as it is in the spiritual realm and also in the physical, Ignorance of the law
            is no defense? An offence committed in ignorance is still a punishable offence, so likewise in the
            spiritual realm. Satan takes huge advantage of our ignorance and makes us worship him without us ever
            knowing that we do!.
        </p>

        <p>
            When you raise your hand in adoration, in praise and fanatical dedication to your favourite artist,
            don’t you know that you commits idolatry? or when you hanged his/her poster on your walls and placed
            his/her item in a special place, don’t you know that you have raised altars [high places] unto Satan?!
            Paul put it expressly in <b>Romans 6: 16–21</b>.
        </p>

        <p class="quotation-danger">
            Know ye not, that to whom ye yield yourselves servants to obey, his servants ye are to whom ye obey;
            whether of sin unto death, or of obedience unto righteousness?…
        </p>

        <p style="margin: 15px 0">
            Don’t you know that the things that are exalted here on earth are despised by God, because God knows
            the heart of those whom you exalt — (Luke 16: 15) even God’s children are guilty of this
            <b>(1 Sam 16: 6–7)</b>. So if Satan can take advantage of the ignorance of people and make them sin
            against God, so also can we take advantage of their ignorance and make them worship and praise God,
            because in the spiritual realm <b>Ignorance is no Defense!</b>.
        </p>

        <p>
            And who better to achieve this than we developers? of all professions we are the most perfectly
            suited for the work of an evangelist in this modern age of technology because our applications can
            reach millions of people, imagine making millions of people worshipping God through the use of your
            applications! and bringing untold numbers to our Lord and Captain Jesus Christ.
        </p>

        <p>
            Don’t you know that when musicians who have dedicated their lives to the Devil make their music,
            devilish incantation is added to the music and played at subliminal stimuli so that our conscious
            mind won’t be able to detect it but our subconscious mind can? thereby inviting demons into our life
            when we listen to them, some are even bold enough to add incantation into their lyrics that can summon
            up demons, that anybody who sings them or say them can also summon up the demon unknowingly, who will
            then torment them!
        </p>

        <div class="quotation-danger">
            My brethren, please do not be deceived into underestimating the Devil just because you are in Christ,
            the Devil is Cunning! <b>(2 Corinthians 11: 3, 10: 12)</b>. He has been around since before the
            creation of the world, so don’t think you can outsmart him, there is nothing we can do that can
            outsmart him, we are powerless against him. <br><br>But luckily we have someone in us who is
            <b>I AM THAT I AM</b>, there was no beginning before Him, neither does He have an end. Only through
            His power can we overcome Satan. <b>Rev 12: 11</b> tells us exactly how to overcome Satan in order of
            importance;<br><br>

            <ol>
                <li>
                    Having Jesus in you (The most important! without this, having the rest is futile, and your
                    case will be like those in <b>Acts 19: 15</b>
                </li>
                <li>The Word of God</li>
                <li>Loving not your life</li>
            </ol>

            Having this three in you, is the Only way you can confidently overcome Satan, when one of them is
            missing in you, you stand a high chance of becoming deceived by the cunningness of Satan.
        </div>

        <p style="margin: 15px 0">
            Just as they [musicians] can affect the lives of millions through their songs, so also can we
            developers have the ability to affect the lives of millions through the app we build, by making
            sure that every keypress event prints out praises to God (either into the console, or printed
            to a random file in their systems), the faster they type, the more they praise God! and making
            every mouse clicks event be a prayer to God asking Him to bring into His loving embrace their
            souls, the more they click their mouse, the more fervent their prayers!
        </p>

        <p class="quotation-danger">
            My favorite prayers are <b>Ephesian 1: 17- 18, James 1: 21</b>, and that Jesus should do unto them
            what He did to Paul, give them an unavoidable chance encounter with Him. These are printed into CMD,
            Console, [though they can’t see it] and also into a special folder prepared for it, with it containing
            no more than 10 files at anytime.
        </p>

        <p style="margin: 15px 0">
            Christian developers should pray in tongues while building their applications, placing angels of God on
            every app that is downloaded either legally or illegally, beseeching God to hear their prayers that they
            will make when they will be using the app! and to guide their steps into an encounter with Him. and
            anytime they encounter His Word, any hindrance to His Word should be brought low
            <b>(Isaiah 45: 2; Luke 3: 5)</b> and they should receive with meekness the implanted word which is
            able to save their souls <b>(James 1: 21)</b>.

        </p>

        <p>
            Christian musicians can also invite pastors to pray in tongues while they are making their music,
            and playing it at subliminal stimuli in their music, placing the angels of God onto every track,
            tasking them to lead anyone listening to the music to unavoidable circumstances where they have
            an encounter with God.
        </p>

        <p>
            Please when you do this, know that you will be taking an active offence against Satan, he wants you
            to be a lukewarm Christian <b>(Revelation 3: 14–17)</b> so that you would be no threat to him. As such
            you will be actively attacked by him, he will make you feel what you are doing is silly [writing codes
            and silently praying in tongues especially when your colleagues are around you] and insignificant.
            But let me remind you that anything done in faith is powerful and it is the power that can overcome the
            world <b>(1 John 5: 4)</b>, and anything done in faith is pleasing to God (Hebrews 11: 6).

        </p>

        <p>
            Satan might also say in your mind, that what you are doing is fruitless! and that the people using
            your applications are mostly unbelievers! What Nonsense! It is written in <b>James 2: 18</b> that faith is
            shown through works! Their act of using your application and typing and clicking with it shows their faith
            through their actions, also Paul in <b>Romans 2: 26</b> said that if an unbeliever does that which is
            according to the law of God, should he not be counted as a believer? [read the whole chapter to truly
            understand this].

        </p>

        <p>
            Do not be deceived people, there is a great war going on that is being fought every day while you
            sleep at your duty post, it is time as a warrior for you to be alert and stand at your duty post.
            We are meant to be Jesus’ hidden intercessors, don’t be beguiled by the powerful ministers that God
            is using openly to bring many to Christ, don’t you know that for every one of those ministers, there
            are hidden intercessors upholding him by the power of their prayers? and they serve as a shield,
            without which those ministers would be unable to stand as long as they are? Why did you think apostle
            Paul in every one of his letters, beseech people to pray for him and in <b>1 Timothy 2: 2</b> he
            specifically ask them to pray for those who are in authority?
        </p>

        <p class="quotation-danger">
            For every open warfare, there have already been hundreds of hidden warfare that has been
            fought and are still been fought,
        </p>

        <p style="margin: 15px 0">
            Come on brethren [developers], we have been given a powerful tool to which we can wage war in the secret,
            the enemies are already taking full advantage of it. Please there is no pacifism in Christianity! nowhere
            in the bible did Jesus say, we would live a peaceful life here on earth, instead He always exhorts us to
            be on guard, that we will face various tribulations <b>(2 Timothy 3: 12, John 16: 32–33)</b>, if we pick up
            our cross and become His disciples. So pick up that Cross!
            <br><br>
            Become a Dev4Christ
        </p>

    </div>

{% endblock %}
