{% extends 'articles/index.html' %}
{% load static %}

{% block feature_img %}
   <div>
       <img alt="featured image" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" role="img" src="{% static 'assets/images/portfolio/articles/how-artificial-intelligence-can-be-extremely-beneficial-to-financial-institutions-in-nigeria/featured_image.webp' %}">
   </div>
{% endblock feature_img %}

{% block post %}
    <div class="card-body">
{#        <div class="header-title">#}
{#            <h4 class="card-title mb-2">Background</h4>#}
{#        </div>#}

        <p>
            Artificial Intelligence (AI) has become immanent within every sector and is fundamentally and
            incrementally changing the world we live in for the better. In the world of banking, there are
            many areas where AI can be of enormous benefits. But it seems even with the rush of every major
            corporation in the adoption and development of AI technologies into their system, there has been
            sluggishness in the efforts by Nigerian corporations to join the rush in incorporating AI
            technologies into their companies even when they stand to benefit from it, most especially in the
            banking industries.
        </p>

        <p>
            In a country where long queues at banking premises are the order of the day and extremely poor
            customer services, you would stand to reasons they would grab this opportunity with open arms
            and fervent implementation.

            I remember going to a bank for the simple objective of requesting a new ATM card but having to
            wait for over 5 hours before being able to make my request because of the large crowd of people
            waiting to have their request met, with only three overworked and snappish clerks having to meet
            their demands. Needless to say, I left there also feeling irritable, and this is a feeling a lot
            of Nigerians are familiar with.
        </p>

        <p>
            Also, the news is filled with fraudulent activities committed by individuals ranging from illegal
            transactions to identity theft. These are problems that AI can easily solve and are brutally
            successful at it too!
        </p>

        <p class="quotation">
            When it comes to fraud detection, AI follows the paradigm “Since fraudsters I have learned to fly without
            perching, I have learned to shoot without missing”, meaning that AI will be able to match any fraudulent
            activities no matter how venturesome.
        </p>

        <p style="margin-top: 15px">
            But lets look at the way AI can help alleviate the most important problems we face in the banking industry
            in Nigeria:
        </p>

        <div class="header-title">
            <h4 class="card-title mb-2">1. Compliance Detection</h4>
        </div>

        <p>
            Banking is one of the most regulated sectors of the economy. Banking compliance means observing
            rules and regulations set in place and they are set in place to detect and address any, and all
            deviations from the company’s operations and all banks, as of 2020 there are over 130 acts and
            banking regulations that affect the banking industry in Nigeria.
        </p>

        <p>
            To ensure compliance and reduce the risk of monetary fines, criminal charges and operational
            shutdowns, banks have to manually check to ensure all operations are safe, but these are
            always error-prone. To reduce this risk AI can help drastically reduce this error that humans
            often make when manually completing them by automating the process and providing due diligence
            in the process. Intelligent systems trained in such a way ensure new regulations can be
            intercepted faster and more accurately. This allows banks to maintain accurate records regarding
            any customer at any given time.
        </p>

        <div class="header-title">
            <h4 class="card-title mb-2">2. Reduced Costs</h4>
        </div>

        <div>
           <img alt="featured image" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" role="img" src="{% static 'assets/images/portfolio/articles/how-artificial-intelligence-can-be-extremely-beneficial-to-financial-institutions-in-nigeria/reduced_cost.webp' %}">
       </div>

        <p style="margin-top: 15px;">
            AI software can perform labour extensive and sensitive tasks without any error thereby
            helping financial institution’s agents avoid making different errors due to the high
            volume of interactions with customers in a day, improving the overall efficiency of the
            company. Human errors are so common that research shows that 38% of banking losses are
            due to human error. AI software reduces the demand for less-skilled labour and improves
            the efficiency of the remaining bank staff, as employee benefits consistently represent
            the lion share of the bank cost base.
        </p>

        <div class="header-title">
            <h4 class="card-title mb-2">3. Customer Service</h4>
        </div>

        <div>
           <img alt="featured image" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" role="img" src="{% static 'assets/images/portfolio/articles/how-artificial-intelligence-can-be-extremely-beneficial-to-financial-institutions-in-nigeria/customer_service.webp' %}">
       </div>

        <p style="margin: 15px 0;">
            I have yet to walk into a bank premise and not see the customer service desks surrounded
            by disgruntled customers demanding solutions to their grievances with the customer service
            provider getting more disagreeable as the day goes on, on top of that customers expect banks
            to provide customer services 24/7.
        </p>

        <p>
            AI Virtual Assistant (ChatBot) is one of the primary benefits of AI in the banking industry.
            AI-powered chatbots ensure that customers can get answers to their questions quickly and
            creating an individualized experience for the customers. It frees the employees to perform
            more complex tasks and satisfy customers by answering the question asked to solve a problem.
        </p>

        <p>
            Chatbots simulates a 24/7 customer service making the customer feel satisfied that they request
            are readily answered by an agent. I long for the day when I don’t have to visit any bank to have
            resolutions to my every little request.
        </p>

        <div class="header-title">
            <h4 class="card-title mb-2">4. Fraud Detection</h4>
        </div>

        <div>
           <img alt="featured image" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" role="img" src="{% static 'assets/images/portfolio/articles/how-artificial-intelligence-can-be-extremely-beneficial-to-financial-institutions-in-nigeria/fraud_detection.webp' %}">
       </div>

        <p style="margin: 15px 0;">
            This is where AI truly shines and where it can soundly outperform humans, it is implemented
            to combat fraud and money laundering. It can also be used to spot inconsistencies, without
            AI banks loses millions because of criminal activities. It does this by analyzing large amounts
            of data and identifying suspicious transactions, with such information, the bank can review and
            determine if it’s a fraudulent payment, all of which can be performed in real-time.

        </p>

        <p>
            What does this mean in a nutshell? Suppose I as a customer have been making purchases
            consisting mainly of phones and phones accessories online, but if purchase for a car is
            then charged to my account. AI would see this purchase as inconsistency with my purchase
            history and price ranges and immediately alarm the bank authorities to the possibility of a
            fraudulent activity about to take place while at the same time preventing the purchase from
            going through (all this happening without the customer even been aware of it) and then finally
            notifying the customer of the attempt.
        </p>

        <div class="header-title">
            <h4 class="card-title mb-2">Conclusion</h4>
        </div>

        <p>
            AI can generate customer insights that can be used for personalized communication, offers
            and services. Also, the banking sector has been at the forefront of the adoption of new
            technologies. In the United State alone billions of dollars have been invested in the
            research and development of AI. The integration of AI in the financial sector is predicted
            to lower costs by 20% while still boosting productivity. Nigeria Banking sectors should
            endeavour to take advantage of this amazing technology now that it is at the infancy stage
            thereby reaping maximum benefit from it as it grows into maturity.
        </p>
    </div>
{% endblock post %}
