
{% extends 'articles/index.html' %}
{% load static %}

{% block feature_img %}
   <div>
       <img alt="featured image" class="bd-placeholder-img bd-placeholder-img-lg img-fluid" width="100%" height="250" role="img" src="{% static 'assets/images/portfolio/articles/what-i-gained-from-dsn-bootcamp-2021/featured_image.webp' %}">
   </div>
{% endblock feature_img %}

{% block post %}

    <div class="card-body">
        <div class="header-title">
            <h4 class="card-title mb-2">Background</h4>
        </div>

        <p>
            Let me tell you a little bit about myself. My name is Nkopuruk Samuel E. (PinTech).
            I am a student at the University of Uyo studying Computer Engineering, I am currently
            in my fifth year of study. I was first introduced to programming in my third (3rd)
            year, where we were taught Python (I am too ashamed to reveal what programming language
            we were taught in our second year — Qbasic — it almost killed any desire I had about programming
        </p>

        <p>
            It was love at first code, I became so engrossed in it I went beyond and over what our lecturer
            taught us and read anything and everything I could lay my hands on about python programming,
            and I became good at it fairly quickly.
        </p>

        <p>
            In my search for an area of specialization using python, I taught myself web development
            (Backend) using Django built and uploaded websites from scratch on PythonAnywhere, Desktop
            development using PyQt5 (developed a Pomodoro Timer app, an Image app and several little
            side ones).
        </p>

        <p>
            I was like the typical wanderer looking for the ideal field to put roots. On a certain day
            I was researching where to apply for my IT (I was already in my 4th year first semester and
            we were going for our IT programme the next semester). I had already settled for being a
            Desktop developer, as I had a certain dislike for Web Development (partly due to most of my
            friends were going for it) and to its very easy learning curve (I needed something more
            challenging). I came across an article about Machine Learning (forgotten the name), it
            classified programming into two styles, traditional (or classical) and Machine learning.
        </p>

        <p>
            It talked about how classical programmers have to specify every rule in their programs
            and that any rule not explicitly specified crashes the programs if not explicitly handled
            by the programmer (and that was something I readily agree to) and how ML programming
            eliminates that problem by making the machine learn by itself those rules! (I was astounded!)
        </p>

        <p>
            To cut the long story short, I declined going as an Intern at a company I applied for to
            learn software development. I spent time searching for where I could intern as a Data
            Scientist, the ones I could find, their prices were so exorbitant I had to forgo them
            (as they were likely not looking for student interns, but business executives who wish to
            add data analyst to their skill set, guessing from the prices they set). So I spent my IT
            by myself learning and devouring everything I could from textbooks to online courses to
            YouTube tutorials.
        </p>

        <p>
            I learned about Data Science Nigeria (DSN) from one of my online searches for some data science
            communities in Nigeria especially Uyo (no offence DSN you guys virtually have no presence here
            in the University of Uyo or Akwa Ibom, and I am looking forward to changing that). I highly
            anticipated this year AI Bootcamp qualifications and I could not wait to join to test my newly
            acquired ML skills besides my fellow Nigerian ML enthusiasts.
        </p>

        <p>
            Before I go on, let me tell you a little about my psyche. I tend a little to be a megalomaniac.
            After my IT, I have this thought that I am among the top 30 most skilful upcoming ML enthusiasts
            in Nigeria (the top half of 30 mind you) and coming into this competition I was confident of
            being among the people to compete for the 2 million cash prize. That delusion was continuously
            fed as I was among the top 20 positions for the first three days. But imagine my surprise as my
            rank gradually decreased and my name didn’t appear on the list on the first page of the leadership
            board! And as much as I tried, I could do nothing to change it.
        </p>

        <p>
            This blow has been an eye-opener for me and it has set a fire in my soul. I want to use this
            opportunity to thank Data Science Nigeria for giving me this tremendous opportunity to let me
            become aware that there are freaks out there (students or otherwise) who are better than me at
            ML and I now know your all names and have written them in a list and nothing will give me greater
            JOY than to strike your names out of the list as I surpass each and every one of you.
        </p>

        <p>
            Thank you very much DSN, I now understand the true meaning of the saying “Someone who thinks they
            know everything, improves at nothing”. Complacency was my biggest obstacle but you have cured me
            of it by showing me that I am at the bottom of the ladder, and not only that you have set a path
            for me (not only me) that can enable me get to the top.
        </p>

        <div class="header-title">
            <h4 class="card-title mb-2">Aside</h4>
        </div>

        <p>
            For those of you who think my megalomaniac is cured by this turn of events, know this,
            I never doubt for a second I will be among the participant in the Bootcamp or achieve a
            rank lower than 100. Also know this, my megalomaniac is backed by the amount of time I put
            into developing myself and my skills and also I wouldn't be writing this…if it was cured.
        </p>

        <h6>God Loves You!</h6>
    </div>
{% endblock post %}



