
{% extends 'dress_code/login.html' %}
{% load static %}
{% load extra_tags %}

{% block content %}

    <!--breadcrumbs area start-->
    <div class="breadcrumbs_area">
        <div class="container">   
            <div class="row">
                <div class="col-12">
                    <div class="breadcrumb_content">
                        <ul>
                            <li><a href="{% url 'dress-code:homepage' %}">home</a></li>
                            <li>Register</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>         
    </div>
    <!--breadcrumbs area end-->

    <section class="account">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-10">
                    <p style="text-align: center; font-weight: bold">{{ REGISTER_PHRASES|random_choice }}</p>
                    <div class="account-contents">
                        <div class="row">
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12" style="background: url('{% static 'assets/images/logo6.gif' %}'); background-size: cover; background-position: center">
                                <div class="account-thumb">
                                    <h2>Register now</h2>
                                    <p>{{ REGISTER_SHORT_STORIES|random_choice }}</p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                                <div class="account-content">
                                    {% if error %}
                                        <div id="dismiss_notification" class="alert alert-danger align-items-center" role="alert">
                                            <div>
                                                {{ error }}...Click to dismiss
                                            </div>
                                        </div>
                                    {% endif %}

                                    <form method="post">
                                        <div class="single-acc-field">
                                            <label for="name">Username</label>
                                            <input type="text" name="username" id="name" placeholder="Enter Your Username" required>
                                        </div>
                                        <div class="single-acc-field">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" id="email" placeholder="Enter your Email" required>
                                        </div>
                                        <div class="single-acc-field">
                                            <label for="password">Password</label>
                                            <input type="password" name="password" id="password" minlength="8" placeholder="At least 8 Charactars" required>
                                        </div>
                                        <div class="boxes" style="margin: 10px 0;">
                                            <input type="radio" name="sex" id="male" value="Male" checked>
                                            <label for="male">Male</label>

                                            <input type="radio" name="sex" id="female" value="Female">
                                            <label for="female">Female</label>

                                            <input type="radio" name="sex" id="others" value="Others">
                                            <label for="others">Others</label>
                                        </div>
                                        <div class="single-acc-field">
                                            <button type="submit">Register now</button>
                                        </div>
                                        <a href="{% url 'dress-code:login' %}">Have an account? Login</a>
                                        {% csrf_token %}
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}
